In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
# Read the csv file into a pandas DataFrame

surveydata = pd.read_csv('Resources/Survey_Mood_MovieGenre.csv')
surveydata.head()

,ID,Age,Mood,Movie_1,Movie_2,Movie_3,Movie_4,Movie_5,Movie_1_genre,Movie_2_genre,Movie_3_genre,Movie_4_genre,Movie_5_genre
0,1,18 +,Happy,Fifty first dates,What they do in the shadows,Avatar,About time,James Bond,Comedy,Comedy,Action,Comedy,Action
1,2,18 +,Inspired,I am legend,Aladdin,A quiet place,World War Z,Coco,Drama,Animation,Fantasy,Action,Animation
2,3,18 +,Thrilled,Straight outta Compton,rabbit proof fence,hunger games,never stop stopping,gone girl,Drama,Drama,Fantasy,Comedy,Mystery
3,4,18 +,Happy,King Richard,Rocket man,the kings man,Xanadu,the bodyguard,History,History,Action,Fantasy,Thriller
4,5,18 +,Happy,2 fast 2 furious,hacksaw ridge,pirates of the Caribbean,the big short,white chicks,Action,War,Thriller,Comedy,Comedy

In [7]:
surveydata.columns

Index(['ID', 'Age', 'Mood', 'Movie_1', 'Movie_2', 'Movie_3', 'Movie_4',
       'Movie_5', 'Movie_1_genre', 'Movie_2_genre', 'Movie_3_genre',
       'Movie_4_genre', 'Movie_5_genre'],
      dtype='object')

In [11]:
happy_df=surveydata.loc[surveydata["Mood"]=="Happy"]
happy_df["Movie_1_genre"].value_counts()

Comedy             7
Action             6
Animation          3
History            2
Science Fiction    2
Drama              1
Adventure          1
Romance            1
Name: Movie_1_genre, dtype: int64

In [12]:
happy_df["Movie_2_genre"].value_counts()

Comedy             3
Science Fiction    3
Thriller           3
Romance            2
Fantasy            2
Animation          2
Drama              2
Action             2
History            1
War                1
Family             1
Adventure          1
Name: Movie_2_genre, dtype: int64

In [14]:
happy_df["Movie_3_genre"].value_counts()

Science Fiction    5
Action             4
Drama              3
Animation          3
Thriller           2
Fantasy            2
War                1
Family             1
Comedy             1
Adventure          1
Name: Movie_3_genre, dtype: int64

In [15]:
happy_df["Movie_4_genre"].value_counts()

Drama              6
Comedy             4
Animation          3
Action             2
Adventure          2
Science Fiction    2
Fantasy            1
War                1
Thriller           1
Name: Movie_4_genre, dtype: int64

In [16]:
happy_df["Movie_5_genre"].value_counts()

Drama              4
Science Fiction    4
Action             3
Comedy             3
Crime              2
Animation          2
Thriller           1
Fantasy            1
Romance            1
Family             1
Name: Movie_5_genre, dtype: int64

In [13]:
thrilled_df=surveydata.loc[surveydata["Mood"]=="Thrilled"]
thrilled_df["Movie_1_genre"].value_counts()

Action             2
Drama              1
Science Fiction    1
Fantasy            1
Thriller           1
Name: Movie_1_genre, dtype: int64

In [23]:
thrilled_df["Movie_2_genre"].value_counts()

Drama        2
Adventure    1
Action       1
Horror       1
Thriller     1
Name: Movie_2_genre, dtype: int64

In [24]:
thrilled_df["Movie_3_genre"].value_counts()

Fantasy            1
Drama              1
Adventure          1
Science Fiction    1
Thriller           1
Name: Movie_3_genre, dtype: int64

In [25]:
thrilled_df["Movie_4_genre"].value_counts()

Comedy             1
Horror             1
Action             1
Science Fiction    1
Thriller           1
Crime              1
Name: Movie_4_genre, dtype: int64

In [26]:
thrilled_df["Movie_5_genre"].value_counts()

Action       2
Mystery      1
Drama        1
Adventure    1
Crime        1
Name: Movie_5_genre, dtype: int64

In [19]:
encoded_surveydata =surveydata

surveydata_binary_encoded = pd.get_dummies(surveydata,columns=["Age","Mood","Movie_1_genre","Movie_2_genre","Movie_3_genre","Movie_4_genre","Movie_5_genre"])
surveydata_binary_encoded.head(100)

,ID,Movie_1,Movie_2,Movie_3,Movie_4,Movie_5,Age_18 +,Age_under 18,Mood_Angry,Mood_Emotional,...,Movie_5_genre_Family,Movie_5_genre_Fantasy,Movie_5_genre_History,Movie_5_genre_Horror,Movie_5_genre_Mystery,Movie_5_genre_Romance,Movie_5_genre_Science Fiction,Movie_5_genre_Thriller,Movie_5_genre_War,Movie_5_genre_Western
0,1,Fifty first dates,What they do in the shadows,Avatar,About time,James Bond,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,I am legend,Aladdin,A quiet place,World War Z,Coco,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Straight outta Compton,rabbit proof fence,hunger games,never stop stopping,gone girl,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,4,King Richard,Rocket man,the kings man,Xanadu,the bodyguard,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,2 fast 2 furious,hacksaw ridge,pirates of the Caribbean,the big short,white chicks,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,94,Premonition,collateral beauty,aftermath,remember me,the goldfinch,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
94,95,Dear John,about time,rabbit hole,Jojo rabbit,wildctales,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
95,96,Love happens,the goldfinch,aftermath,remember me,premonition,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
96,97,The lake house,wonder wheel,love happened,about time,the queen,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
97,98,Chocolate,about time,a star is born,cool runnings,music and lyrics,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
surveydata_binary_encoded.to_csv("Resources/encoded.csv",index=False,header=True)