In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# Read the csv file into a pandas DataFrame

data_df = pd.read_csv('../ML/results_with_mood.csv')
data_df.head(3)

,Unnamed: 0,original_title,genre,release_year,runtime,prediction,overview
0,0,Avatar,"Action,Adventure,Fantasy,Science Fiction",2009,162,1.0,"In the 22nd century, a paraplegic Marine is di..."
1,1,Pirates of the Caribbean At World's End,"Adventure,Fantasy,Action",2007,169,0.0,"Captain Barbossa, long believed to be dead, ha..."
2,2,Spectre,"Action,Adventure,Crime",2015,148,0.0,A cryptic message from Bonds past sends him on...

In [3]:
#Read in the mood_index file
mood_df=pd.read_csv('../Output/mood_index.csv')
mood_df.head(2)

   Unnamed: 0      mood  label
0           0  Inspired    1.0
1           1  Thrilled    4.0

In [4]:
#Choosing the first item from column genre
def sel_first(x):
    return x.split(",")[0]
data_df['genre']=data_df.loc[:,"genre"].fillna("Adventure").apply(sel_first)

In [5]:
#Convert runtime into nearest 0.5 ie: 1,1.5,2,2.5,3
data_df['runtime']=round((data_df["runtime"]/60 *2))/2
data_df

,Unnamed: 0,original_title,genre,release_year,runtime,prediction,overview
0,0,Avatar,Action,2009,2.5,1.0,"In the 22nd century, a paraplegic Marine is di..."
1,1,Pirates of the Caribbean At World's End,Adventure,2007,3.0,0.0,"Captain Barbossa, long believed to be dead, ha..."
2,2,Spectre,Action,2015,2.5,0.0,A cryptic message from Bonds past sends him on...
3,3,The Dark Knight Rises,Action,2012,3.0,0.0,Following the death of District Attorney Harve...
4,4,John Carter,Action,2012,2.0,0.0,"John Carter is a warweary, former military cap..."
...,...,...,...,...,...,...,...
3091,3091,The Signal,Thriller,2014,1.5,0.0,Three college students on a road trip across t...
3092,3092,Down Terrace,Drama,2009,1.5,0.0,After serving jail time for a mysterious crime...
3093,3093,Clerks,Comedy,1994,1.5,0.0,Convenience and video store clerks Dante and R...
3094,3094,Pink Flamingos,Horror,1972,1.5,0.0,Notorious Baltimore criminal and underground f...
3095,3095,Primer,Science Fiction,2004,1.5,0.0,Friendsfledgling entrepreneurs invent a device...

In [6]:
#merging two dataframes using "prediction" from data_df and latch on "label" from the mood_df
data_df = pd.merge(data_df,mood_df, how='left', left_on="prediction", right_on="label")
data_df.head(5)

,Unnamed: 0_x,original_title,genre,release_year,runtime,prediction,overview,Unnamed: 0_y,mood,label
0,0,Avatar,Action,2009,2.5,1.0,"In the 22nd century, a paraplegic Marine is di...",0,Inspired,1.0
1,1,Pirates of the Caribbean At World's End,Adventure,2007,3.0,0.0,"Captain Barbossa, long believed to be dead, ha...",6,Happy,0.0
2,2,Spectre,Action,2015,2.5,0.0,A cryptic message from Bonds past sends him on...,6,Happy,0.0
3,3,The Dark Knight Rises,Action,2012,3.0,0.0,Following the death of District Attorney Harve...,6,Happy,0.0
4,4,John Carter,Action,2012,2.0,0.0,"John Carter is a warweary, former military cap...",6,Happy,0.0

In [10]:
#Drop unwanted columns
data_to_filter_df = data_df.iloc[:,[1,2,3,4,6,8]]

In [11]:
data_to_filter_df

,original_title,genre,release_year,runtime,overview,mood
0,Avatar,Action,2009,2.5,"In the 22nd century, a paraplegic Marine is di...",Inspired
1,Pirates of the Caribbean At World's End,Adventure,2007,3.0,"Captain Barbossa, long believed to be dead, ha...",Happy
2,Spectre,Action,2015,2.5,A cryptic message from Bonds past sends him on...,Happy
3,The Dark Knight Rises,Action,2012,3.0,Following the death of District Attorney Harve...,Happy
4,John Carter,Action,2012,2.0,"John Carter is a warweary, former military cap...",Happy
...,...,...,...,...,...,...
3091,The Signal,Thriller,2014,1.5,Three college students on a road trip across t...,Happy
3092,Down Terrace,Drama,2009,1.5,After serving jail time for a mysterious crime...,Happy
3093,Clerks,Comedy,1994,1.5,Convenience and video store clerks Dante and R...,Happy
3094,Pink Flamingos,Horror,1972,1.5,Notorious Baltimore criminal and underground f...,Happy
3095,Primer,Science Fiction,2004,1.5,Friendsfledgling entrepreneurs invent a device...,Happy

In [12]:
data_to_filter_df.to_csv("../Output/data_to_filter_df.csv")